C:\Users\norma\OneDrive\Desktop\StriverDSA\.vscode\launch.json
C:\Users\norma\OneDrive\Desktop\StriverDSA\.vscode\settings.json
C:\Users\norma\OneDrive\Desktop\StriverDSA\.vscode\tasks.json
C:\Users\norma\OneDrive\Desktop\StriverDSA\patterns.exe
C:\Users\norma\OneDrive\Desktop\StriverDSA\a.exe
